*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.7em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 31.2em) {
    html {
      font-size: 95%; } }

body {
  font-family: "Roboto, sans-serif";
  font-weight: 300;
  line-height: 1.6;
  background-color: #0D0D0D;
  color: #ffff;
  font-size: 2rem;
  width: 1200px;
  margin: 0 auto; }

.header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 6rem;
  margin: 2rem;
  margin-left: 4rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: #0D0D0D;
    background-color: #ffff;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #ffff; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #0D0D0D; }
  .search__input:focus + .search__button {
    background-color: #ffff; }
  .search__button {
    border: none;
    cursor: pointer; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #0D0D0D;
    background-color: #ffff; }

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center; }

.user-nav__user-photo {
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem; }

.user-nav__user-name {
  margin-right: 4rem; }

.container {
  display: grid;
  grid-template-rows: repeat(13, min-content);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2rem;
  padding: 2rem; }
  @media only screen and (max-width: 62.7em) {
    .container {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (max-width: 31.2em) {
    .container {
      grid-template-columns: 1fr; } }
  .container__title {
    grid-row: 1 / span 1;
    grid-column: 1/-1;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-align: center; }
  .container__img {
    grid-row: 2 / span 3;
    grid-column: 1 / span 1;
    width: 239px;
    height: 340px;
    object-fit: cover;
    align-items: end;
    border: 2px solid #33EADB;
    border-radius: 13px; }
    @media only screen and (max-width: 62.7em) {
      .container__img {
        grid-column: 1 / span 2;
        width: 100%;
        height: 100%; } }
    @media only screen and (max-width: 31.2em) {
      .container__img {
        grid-column: 1 / span 1;
        height: 100%; } }
  .container__gaspar-subtitle {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    padding-top: 4rem; }
    @media only screen and (max-width: 62.7em) {
      .container__gaspar-subtitle {
        grid-column: 3 / span 2;
        padding-top: 10rem;
        font-size: 3rem; } }
    @media only screen and (max-width: 31.2em) {
      .container__gaspar-subtitle {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1; } }
  .container__img2 {
    grid-row: 3 / span 2;
    grid-column: 2 / span 2;
    opacity: 0.5;
    width: 340px;
    height: 240px;
    object-fit: cover; }
    @media only screen and (max-width: 62.7em) {
      .container__img2 {
        grid-column: 3 / span 2;
        width: 100%;
        height: 100%; } }
    @media only screen and (max-width: 31.2em) {
      .container__img2 {
        grid-row: 6 / span 1;
        grid-column: 1 / span 1;
        width: 100%;
        height: 100%; } }
  .container__about {
    grid-row: 2 / span 6;
    grid-column: 4 / span 5;
    padding: 3rem;
    border: 2px solid #33EADB;
    border-radius: 13px; }
    @media only screen and (max-width: 62.7em) {
      .container__about {
        grid-row: 7 / span 2;
        grid-column: 1/-1; } }
    @media only screen and (max-width: 31.2em) {
      .container__about {
        grid-row: 8 / span 1; } }
    .container__about-list {
      list-style: none;
      margin: 1rem 0;
      padding: 1rem 0; }
      .container__about-list__item {
        margin-bottom: 2rem; }
  .container__dates {
    grid-row: 6 / span 2;
    grid-column: 1 / span 3;
    border: 2px solid #33EADB;
    border-radius: 13px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
    align-items: center; }
    @media only screen and (max-width: 62.7em) {
      .container__dates {
        grid-row: 5 / span 2;
        grid-column: 1/-1; } }
    @media only screen and (max-width: 31.2em) {
      .container__dates {
        grid-row: 7 / span 1; } }
    .container__dates-iconl {
      grid-column: 1 / span 1;
      text-align: center; }
    .container__dates-box1 {
      grid-column: 2 / span 2;
      color: #33EADB;
      border: 2px solid #33EADB;
      padding: 1rem;
      text-align: center; }
      .container__dates-box1__date {
        border-bottom: 1px solid #33EADB; }
    .container__dates-box2 {
      grid-column: 4 / span 2;
      color: #33EADB;
      border: 2px solid #33EADB;
      padding: 1rem;
      text-align: center; }
    .container__dates-box3 {
      grid-column: 6 / span 2;
      color: #33EADB;
      border: 2px solid #33EADB;
      padding: 1rem;
      text-align: center; }
    .container__dates-box4 {
      grid-column: 8 / span 2;
      color: #33EADB;
      border: 2px solid #33EADB;
      padding: 1rem;
      text-align: center; }
    .container__dates-iconr {
      grid-column: 10 / span 1;
      margin-left: 1rem; }
  .container__synopsis {
    grid-row: 8 / span 4;
    grid-column: 4 / span 5;
    padding: 3rem;
    border: 2px solid #33EADB;
    border-radius: 13px; }
    @media only screen and (max-width: 62.7em) {
      .container__synopsis {
        grid-row: 9 / span 1;
        grid-column: 1/-1; } }
    .container__synopsis__title, .container__synopsis__text {
      margin: 1rem 0;
      padding: 1rem 0; }
  .container__ticket {
    grid-row: 8 / span 4;
    grid-column: 1 / span 3;
    padding: 3rem;
    border: 2px solid #33EADB;
    border-radius: 13px;
    display: grid;
    grid-template-columns: 250px 100px repeat(3, 50px);
    grid-template-rows: repeat(4, 55px); }
    @media only screen and (max-width: 62.7em) {
      .container__ticket {
        grid-row: 10 / span 1;
        grid-column: 1/-1;
        grid-template-columns: 290px 300px repeat(3, 100px);
        grid-template-rows: repeat(4, 55px); } }
    .container__ticket--title {
      grid-row: 1 / span 2;
      grid-column: 2 / span 1; }
      @media only screen and (max-width: 62.7em) {
        .container__ticket--title {
          grid-column: 1 / span 1; } }
    .container__ticket--information-1 {
      grid-row: 2 / span 1;
      grid-column: 1 / span 2; }
    .container__ticket--price-1 {
      grid-row: 2 / span 1;
      grid-column: 2 / span 2; }
    .container__ticket--plus-1 {
      grid-row: 2 / span 1;
      grid-column: 3 / span 1;
      margin-top: .5rem; }
    .container__ticket--cantidad-1 {
      grid-row: 2 / span 1;
      grid-column: 4 / span 1;
      background-color: #fff;
      color: black;
      text-align: center;
      width: 3rem;
      height: 3rem; }
    .container__ticket--moins-1 {
      grid-row: 2 / span 1;
      grid-column: 5 / span 1;
      margin-top: .5rem; }
    .container__ticket--information-2 {
      grid-row: 3 / span 1;
      grid-column: 1 / span 2; }
    .container__ticket--price-2 {
      grid-row: 3 / span 1;
      grid-column: 2 / span 2; }
    .container__ticket--plus-2 {
      grid-row: 3 / span 1;
      grid-column: 3 / span 1;
      margin-top: .5rem; }
    .container__ticket--cantidad-2 {
      grid-row: 3 / span 1;
      grid-column: 4 / span 1;
      background-color: #fff;
      color: black;
      text-align: center;
      width: 3rem;
      height: 3rem; }
    .container__ticket--moins-2 {
      grid-row: 3 / span 1;
      grid-column: 5 / span 1;
      margin-top: .5rem; }
    .container__ticket--information-3 {
      grid-row: 4 / span 1;
      grid-column: 1 / span 2; }
    .container__ticket--price-3 {
      grid-row: 4 / span 1;
      grid-column: 2 / span 2; }
    .container__ticket--plus-3 {
      grid-row: 4 / span 1;
      grid-column: 3 / span 1;
      margin-top: .5rem; }
    .container__ticket--cantidad-3 {
      grid-row: 4 / span 1;
      grid-column: 4 / span 1;
      background-color: #fff;
      color: black;
      text-align: center;
      width: 3rem;
      height: 3rem; }
    .container__ticket--moins-3 {
      grid-row: 4 / span 1;
      grid-column: 5 / span 1;
      margin-top: .5rem; }
  .container__btn {
    background-color: #33EADB;
    grid-row: 12 / span 4;
    grid-column: 2 / span 2;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    border-radius: 3rem;
    letter-spacing: .5rem; }
    @media only screen and (max-width: 31.2em) {
      .container__btn {
        grid-column: 1 / span 1; } }
  .container__btn:hover {
    background-color: #F571F0; }

.more {
  border: 2px solid #33EADB;
  border-radius: 13px;
  display: grid;
  grid-template-rows: 100px 400px;
  grid-template-columns: repeat(3, 3fr);
  padding: 2rem;
  margin: 2rem; }
  .more__title {
    grid-row: 1 / span 1;
    grid-column: 1 / -1; }
  .more__imagen-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-left: 5rem; }
  .more__imagen-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    margin-left: 5rem; }
  .more__imagen-3 {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    margin-left: 5rem; }
  .more__imagen {
    width: 240px;
    height: 345px;
    border: 2px solid #33EADB;
    border-radius: 13px; }

.footer {
  text-align: center;
  padding: 7rem;
  font-size: 1.7rem; }
