// COLOR VARIABLES

$color-primary-1 : #0D0D0D;
$color-primary-2 : #ffff;

$color-secondary-1 : #33EADB;
$color-secondary-2 : #F571F0;

$color-grey-dark-1: #54483A;

$line : 1px solid $color-secondary-1;

// FONT VARIABLES 

$font-primary : 'Roboto, sans-serif';

// RESPONSIVE BREAKPOINTS
$-large : 62.7em; // 1000px / 16px
$-medium : 31.2em; // 500px / 16px

//START POINT **ALWAYS

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width : $-large) {
    font-size: 75%;
    }

    @media only screen and (max-width : $-medium) {
        font-size: 95%;
        }
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    background-color: $color-primary-1;
    color: $color-primary-2;
    font-size: 2rem;

    //nuevo corrige problema del nav

    width: 1200px;
    margin: 0 auto;
}