@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #2F2F2F;
    font-size: 1.125rem;

    box-sizing: border-box;
}

.header-container {
    background-color: #002E6A;
    min-height: 70px;
    margin-bottom: 40px;
}

header {
    max-width: 1024px;
    min-height: 50px;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #E29E0A;
    transition: 0.3s;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.navbutton {
    margin-left: 40px;
    font-size: 1.875rem;
}

.mob-wrapper {
    display: none;
}

/*Section*/

.main-container {
    max-width: 1024px;
    margin: auto;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.4rem;
    padding-top: 20px;
}

.p-about {
    padding-top: 20px;
    line-height: 26px;
}

.black {
    font-weight: bold;
}

.big-box {
    margin-top: 30px;
    display: flex;
    align-items: stretch;
}

.box-1 {
    width: 50%;
}

.cards {
    padding-top: 30px;
}

.card {
    border: 1px solid black;
    box-shadow: 4px 5px 6px #00000029;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px;
    height: 120px;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.university {
    font-size: 20px;
}

/* .box-2 {
    width: 50%;
    margin-bottom: 3rem;
}

.logos {
    padding-top: 25px;
    margin-left: 15px;
    flex-wrap: wrap;
    animation: moveUpDown 1s ease-out;
} */

.box-2 {
    width: 50%;
}

.logos {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}


/*animation*/

@keyframes moveUpDown {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Mobile responsive nav*/

@media(max-width:800px) {

    .main-container {
        margin-left: 10px;
    }

    .navbutton {
        display: none;
    }

    .mob-nav {
        display: none;
    }

    .mob-wrapper {
        display: block;
        text-align: right;
        margin: auto 30px;
    }

    .navbutton-2 {
        text-align: center;
        background-color: #E29E0A;
        padding: 15px 30px;
        text-align: center;
    }

    .main-container {
        margin: 0 10px;
    }

    .big-box {
        display: block;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}