@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #2F2F2F;
    font-size: 1.125rem;

    box-sizing: border-box;
}

.header-container {
    background-color: #002E6A;
    min-height: 70px;
    margin-bottom: 40px;
}

header {
    max-width: 1024px;
    min-height: 50px;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #E29E0A;
    transition: 0.3s;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.navbutton {
    margin-left: 40px;
    font-size: 1.3rem;
}

.mob-wrapper {
    display: none;
}

.burgermenu {
    width: 35px;
}

/* Section I */

.container {
    max-width: 1024px;
    margin: auto;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.75rem;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-weight: 800;
}

.container-section {
    margin-bottom: 4rem;
}

.personal-projects {
    margin-bottom: 3rem;
    font-weight: 800;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.p-description {
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
}

.p-description-black {
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.mini-icon {
    width: 30px;
    position: relative;
    top: 7px;
    right: 7px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    padding: 15px 15px;
    border: none;
    outline: none;
    background-color: #002E6A;
}

.certification {
    color: #002E6A;
}

.black-text {
    font-weight: bold;
}

/* Card section */

.section-cards {
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    background-color: #f9f9f9;
}

.cards {
    display: flex;
    flex-wrap: wrap;
} 

.card {
    margin: 1rem;
    box-shadow: 2px 4px 6px #00000029;
    position: relative;
    overflow: hidden;
} 

.project-text {
    text-align: center;
    letter-spacing: .1rem;
    position: absolute;
    /* top: -7rem;
    left: 5rem; */
    top: -10rem; /*center and send the text to the top outside the box, hidden with overflow*/
    left: 50%;
    transform: translate(-50%, 20%); 
    transition: top .3s;
    z-index: 10;
}

.image-portfolio{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 3px;
 
}

.card:hover .project-text{
    top: 4rem;
}

.card:hover .image-portfolio {
    opacity: .1;
    transition: opacity .3s;
}

.project-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #002E6A;
    text-transform: uppercase;
}

.project-technologies {
    font-size: 1rem;
    font-weight: 400;
    color: #E29E0A;
    margin-bottom: 1rem;
}

.link {
    width: 400px;
    background-color: #002E6A;
    padding: 3px 30px;
    border-radius: 100px;

    font-size: 1.2rem;
    font-weight: 800;
    color:#f9f9f9;
    letter-spacing: .1rem;
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: #002E6A;
    height: 8rem;
    margin-top: 20px;
}

.text-footer {
    padding-top: 2rem;
    font-size: .8rem;
    text-align: center;
    color: #e4e4e4;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1.2rem;
}



/*Mobile responsive nav*/

@media(max-width:1000px) {

    .header-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container{
        margin-right: 2rem;
        margin-left: 2rem;
    }
}

@media(max-width:800px){
    .navbutton{
        display: none;
    }

    .mob-nav {
        display: none;
    }
    .mob-wrapper {
        display: block;
        text-align:right;
        margin: auto;
    }

    .navbutton-2 {
        text-align: center;
        background-color: #E29E0A;
        padding: 15px 30px;
        text-align: center;
        margin-left: -40px;
        margin-right: -40px;
    }

    .container {
        margin-right: 2rem;
        margin-left: 2rem;
    }

  

    }

    @media(max-width:420px) {
        .card:hover .project-text{
            top: 2rem;
        }
    }
